<div class="banner">
  <h1>Save any kind of movies</h1>
</div>
<div class="container pt-5">
  <h2>My lists</h2>
  <div style="grid-template-columns: 1fr 1fr 1fr 1fr;" class="pt-5 d-grid gap-3">
    <% @lists.each do |list| %>
      <%= link_to list_path(list), class: "card-link link-offset-2 link-underline link-underline-opacity-0 " do %>
        <div class="d-flex card p-5 bg-dark text-center">
            <h5 class="fs-3 text-light"><%= list.name %></h5>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
